<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
    <h1>New Player: </h1><br/>
    <form action="#" th:action="@{/createPlayer}" th:object="${player}" method="post">
        <p>Name: <input type="text" th:field="*{name}"></p>
        <p><input type="submit" value="Register new player">
        <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>